.divl {
  background-color: black;
  padding-bottom: 600px;
}
.divNav {
  background-color: #525252;
  height: 40px;
}
.pc {
  color: #002361;
  margin-left: 10px;
}
.dd {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.p {
  color: white;
  margin: 10px;
}
.dab {
  background-color: #b4b4b4;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  height: 400px;
  border-radius: 10px;
}

.inp {
  width: 250px;
  height: 30px;
  margin: 10px;
}
.select {
  width: 250px;
  height: 30px;
  margin: 10px;
}
.nam {
  display: flex;
  flex-direction: column;
}
.po {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.but {
  background-color: blue;
  color: white;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  border: 0px solid transparent;
  border-radius: 10px;
}
.ep {
  color: red;
  margin-left: 10px;
}
.md {
  display: flex;
}
.butTag {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
}
.taskco {
  background-color: #ffae93;
  width: 500px;
  border-radius: 10px;
}
.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.li {
  margin: 20px;
}
.sph {
  color: #3232d6;
}
.ppp {
  color: white;
  margin: 20px;
}
.io {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.m {
  font-size: 15px;
  margin-left: 325px;
}
